@use "bulma/sass/utilities/mixins";

.homepage-wrapper {
  animation: scroll 100s linear infinite;
  background-image: url("https://xq2qvv7gox71g5pq.public.blob.vercel-storage.com/base-DN5XkdQsza9IAi6d4HNqdNQoxH6WDp.jpg");
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  
  @include mixins.from(600px) {
    background-size: cover;
  }

  .hero {
    border-radius: 200px;
    backdrop-filter: blur(5px) saturate(1.7);
    background: hsla(293, 43%, 12%, 0.71);
    border: 1px solid;
  }
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}
