@use "bulma/sass/utilities/mixins";

.homepage-wrapper {
  animation: scroll 100s linear infinite;
  background-image: url("../../assets/images/background.jpg");
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  
  @include mixins.from(600px) {
    background-size: cover;
  }

  .hero {
    @include mixins.from(600px) {
      border-radius: 200px;
      border: 1px solid;
    }
  }
  
  .circle {
    border: 1px solid;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    backdrop-filter: blur(5px) saturate(1.7);
    background: hsla(293, 43%, 12%, 0.71);
    box-shadow: #FCAF58 0px 0px 30px 0px;
    animation: shine 1s linear infinite;
    animation-direction: alternate;
  }

  
  .fade {
    animation: fadeout 0.5s linear 0s 1 forwards normal;
    position: absolute;
  }
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

@keyframes shine {
  100% {
    box-shadow: #FCAF58 0px 0px 30px 20px;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
    display: none;
    top: -100%;
  }
}
