@charset "utf-8";

$darkPurple: #28112B;
$purple: #453643;
$green: #8DAA91;
$orange: #FCAF58;
$red: #CC2936;

$primary: $green;
$text: $green;
$danger: $red;
$link: $orange;
$background: $darkPurple;

$footer-background-color: $purple;
$footer-padding: 3rem;

@import 'bulma/bulma.sass';
